<div class='w-full min-page-height flex justify-center items-center md:w-3/4 lg:w-4/6 xl:w-1/2 mx-auto'>
    <div class='w-full bg-base-100 rounded-box my-10 shadow'>
        <div class='rounded-t-box rounded-b event-info-header px-8 pt-12 pb-4 h-full justify-end'>
            <h1 class='text-white drop-shadow-xl text-2xl font-bold'><%= data.name %></h1>
        </div>
        <div class='p-8'>
            <div class='flex'>
                <span class='text-base-content/80 mr-4'>Anzahl Tische: </span>
                <span><%= data.tableAmount %></span>
            </div>
            <div class='flex'>
                <span class='text-base-content/80 mr-4'>Anzahl Sitze pro Tisch: </span>
                <span><%= data.tableSeatAmount %></span>
            </div>
            <div class='flex'>
                <span class='text-base-content/80 mr-4'>Beidseitige Bestuhlung: </span>
                <span><%= data.seatingType === "oneSided" ? "Nein" : "Ja" %></span>
            </div>
            <div class='flex'>
                <span class='text-base-content/80 mr-4'>Beginn: </span>
                <span><%= data.beginDate.toLocaleString(DateTime.DATETIME_MED) %></span>
            </div>
        </div>
    </div>
</div>
